<%= form_with(model: oral_arg, local: true) do |form| %>
  <% if oral_arg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oral_arg.errors.count, "error") %> prohibited this oral_arg from being saved:</h2>

      <ul>
      <% oral_arg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :link_url %>
    <%= form.text_field :link_url %>
  </div>

  <div class="field">
    <%= form.label :header_text %>
    <%= form.text_field :header_text %>
  </div>

  <div class="field">
    <%= form.label :desc_text %>
    <%= form.text_field :desc_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
