<p id="notice"><%= notice %></p>

<h1>Oral Args</h1>

<table>
  <thead>
    <tr>
      <th>Link url</th>
      <th>Header text</th>
      <th>Desc text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oral_args.each do |oral_arg| %>
      <tr>
        <td><%= oral_arg.link_url %></td>
        <td><%= oral_arg.header_text %></td>
        <td><%= oral_arg.desc_text %></td>
        <td><%= link_to 'Show', oral_arg %></td>
        <td><%= link_to 'Edit', edit_oral_arg_path(oral_arg) %></td>
        <td><%= link_to 'Destroy', oral_arg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oral Arg', new_oral_arg_path %>
