<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Short desc:</strong>
  <%= @lesson.short_desc %>
</p>

<p>
  <strong>Long desc:</strong>
  <%= @lesson.long_desc %>
</p>

<p>
  <strong>Grade level:</strong>
  <%= @lesson.grade_level %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @lesson.subject %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
